@charset "utf-8";
/* CSS Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header,nav,main,footer{
	width: 100%;
}
header {
    background-color:lightsteelblue;
    height: 100px;
	text-align: center;
	color: white;
	font-size: 30px;
}
nav {
    height: 80px;
    background-color: lightgoldenrodyellow;
	display: flex;
}
footer {
    background-color: lightsteelblue;
    color:black;
	display: flex;
	font-size: 16px;
}
main{
    background-color: royalblue;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    height: 30px;
}
main section{
	background-color: palegreen;
	width: 80%;
	margin: 30px;
	padding: 30px;
}
footer h5 {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: auto;
    height: 50%;
	font-size: 20px;
	display: flex;
}
section h2, h3 {
    padding-bottom: 10px;
    font-weight: 200px;
    width: auto;
	color: black;
	padding: 5px;
	margin: 20px;
}
div h3{
	color: black;
}
.contenedor_flexible{
	background-color: midnightblue;
	display: flex;
	margin: 10px;
}
.contenedor_flexible>div,.contenedor_flexible-1>div,.contenedor_flexible-2>div,.contenedor_flexible-3>div,
.contenedor_flexible-4>div,.contenedor_flexible-5>div,.contenedor_flexible-6>div,.contenedor_flexible-7>div{
	width: 400px;
	height: 50px;
	background-color: mediumspringgreen;
	margin: 10px;
	padding: 30px;
	font-size: 32px;
	text-align: center;
}
.contenedor_flexible-1{
	background-color: midnightblue;
	display: flex;
	flex-direction: column;
}
.contenedor_flexible-1>div{
	width: 30%;
}
.contenedor_flexible-3>div{
	width: 20%;
}
.contenedor_flexible-4>div{
	height: auto;
}
.contenedor_flexible-5>div{
	width: 100px;
	height: auto;
}
.contenedor_flexible-6>div{
	width: 100px;
}
.contenedor_flexible-7>div{
	width: 200px;
	height: 200px;
}
.contenedor_flexible-2{
	background-color: midnightblue;
	display: flex;
	flex-wrap: wrap;
}
.contenedor_flexible-3{
	background-color: midnightblue;
	display: flex;
	justify-content: space-between;
}
.contenedor_flexible-4{
	background-color: midnightblue;
	display: flex;
	height: 400px;
	align-items: stretch;
}
.contenedor_flexible-5{
	background-color: midnightblue;
	display: flex;
	height: auto;
	align-items: baseline;
}
.contenedor_flexible-6{
	background-color: midnightblue;
	display: flex;
	height: 800px;
	flex-wrap: wrap;
	align-content:space-around;
}
.contenedor_flexible-7{
	background-color: midnightblue;
	display: flex;
	height: 800px;
	justify-content: center;
	align-items: center;
}