@charset "utf-8";
header h1 {
    background-color: #011126;
    width: 960px;
    color: #90EE90;
    text-align: center;
    font-size: 55px;
    height: 100px;
    padding: 20px;
    list-style-type: none;
}
header, nav, section, main , footer{
    margin: 0 auto;
    width: 960px;
    /*height: 100px*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
    background-color: #3887A6;
    color: #FA4032;
    list-style-type: none;
	padding: 10px;
}
footer {
    background-color: #5E83F2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    background-color: #011126;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
	height: auto;
}
* {
    padding: 0px 0px;
    margin: 0px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer h3 {
	padding: 50px;
    width: 960px;
	height: auto;
    text-align: center;
    color: #0D0007;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section dt {
    margin: 10px;
	color:#F2E205;
	font-size: 32px;
}
section ol li {
	margin: 20px;
	font-size: 26px;
}
main section {
    width: auto;
    border: 5px groove;
    background-color: #51718C;
    margin: 20px;
    padding: 20px 40px;
    height: auto;
}
section h2 {
    margin-bottom: 0px;
    padding-bottom: 10px;
    width: auto;
	font-size: 32px;
	color: white;
}
section dl dt  {
    font-weight: bold;
    color: #F2E205;
    margin: 10px;
    font-size: 26px;
    list-style-type: none;
}
h2 {
    font-size: 32px;
    color: white;
}
p ,dd{
	color:white;
	font-weight: normal;
	font-size: 26px;
}
a:link{
	color: antiquewhite;
	text-decoration: none;
	font-weight: bolder;
}
a:visited{
	color:orange;
	text-decoration: none;
	font-weight: bolder;
}
a:active{
	color: black;
	text-decoration: none;
	font-weight: bolder;
}
a:hover{
	color: hotpink;
	text-decoration: none;
	font-weight: bolder;
} 
h4{
	margin-bottom: 0px;
    padding-bottom: 10px;
    width: auto;
	font-size: 32px;
	color: white;
}
nav li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
	padding: 5px;
}
li ul li {
	color: white;
}
section ol li {
	font-size: 26px;
	color: #F2E205;
}
section li {
    font-size: 32px;
	color: #F2E205;
}
