@charset "utf-8";
/* CSS Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header,nav,main,footer{
	width: 100%;
}
header {
    background-color: #F2163E;
    height: 100px;
	text-align: center;
	color: ghostwhite;
	font-size: 18px;
	padding: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
nav {
    height: 30px;
    background-color:#F2EEAC;
	display: flex;
}
footer {
    background-color: #F2163E;
    color:black;
	display: flex;
	font-size: 16px;
}
main{
    background-color:#021E73;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    height: 30px;
}
main section{
	background-color: #F2EEAC;
	width: 80%;
	margin: 30px;
	padding: 30px;
}
footer h5 {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: auto;
    height: 50%;
	font-size: 20px;
	display: flex;
	color:ghostwhite;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
section h2 {
    padding-bottom: 10px;
    font-weight: 200px;
    width: auto;
	color: #021E73;
	padding: 5px;
	margin: 20px;
	font-size: 40px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
div h3{
	color: black;
}
.contenedor_flexible{
	background-color: #F2163E;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}
.contenedor_flexible>div{
	width: 800px;
	height: 100px;
	background-color: #D7D8D9;
	margin: 10px;
	padding: 30px;
	font-size: 32px;
	text-align: center;
}
#link-2{
	
}
a:link{
	color:#021E73;
	text-decoration: none;
	font-weight: bolder;
}
a:visited{
	color:purple;
	text-decoration: none;
	font-weight: bolder;
}
a:active{
	color:saddlebrown;
	text-decoration: none;
	font-weight: bolder;
}
a:hover{
	color: lightseagreen;
	text-decoration: none;
	font-weight: bolder;
}