@charset "utf-8";
header {
    background-color: #FDD475;
    width: 80%;
    height: 100px;
}
nav {
    height: 60px;
    background-color: #C1E1DC;
    color: #FA4032;
}
footer {
    background-color: #C1E1DC;
    color: #FA4031;
    width: auto;
}
header h1 {
    text-align: center;
    font-size: 50px;
}
header, nav, section, footer , main{
    margin: 0 auto;
    width: 80%;
}
main  {
    background-color: #FFCCAC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer h5 {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: auto;
    height: 50%;
}
nav ul li {
    width: auto;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    height: 30px;
}
main section {
    width: 80%;
    background-color: #FDD475;
    border: 5px groove hsla(4,94%,59%,1.00);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}
section h2 {
    padding-bottom: 10px;
    font-weight: 200;
    font-style: italic;
    width: auto;
}
#link-2{
	
}
a:link{
	color: green;
	text-decoration: none;
	font-weight: bolder;
}
a:visited{
	color:blue;
	text-decoration: none;
	font-weight: bolder;
}
a:active{
	color:red;
	text-decoration: none;
	font-weight: bolder;
}
a:hover{
	color:deeppink;
	text-decoration: none;
	font-weight: bolder;
}
.picture-1 {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border: 6px groove #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.img_flotante{
    display: inline;
    float: right;
    height: auto;
    width: 30%;
    padding-left: 10px;
}
.picture-2 {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.picture-3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.img-blur {
    filter: blur(2px);
}
.img-brillo {
    filter: brightness(200%);
}
.img-contraste {
    filter: contrast(200%);
}
.img-grises {
    filter: grayscale(100%);
}
.img-negativo {
    filter: invert(100%);
}
.img-opacidad {
    filter: opacity(50%);
}
.img-saturacion {
    filter: saturate(200%);
}
.img-sepia {
    filter: sepia(100%);
}
.video-size {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-size2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: auto;
}
.parrafo {
	color: black;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.h2 {
    color: #FA4032;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    border-top-left-radius: 5px;
}
.img-redondeada {
    border-radius: 38px 159px 83px 53px;
}
.img-redondeada2 {
}
.img-redondeada3 {
    border-radius: 183px;
}
.picture-4 {
    width: 70%;
    display: block;
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
}
input[type=text],input[type=number],input[type=password],input[type=email],input[type=tel]{
	background-color: #C1E1DC;
	color:blue;
	width: 50%;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
}
input[type=submit]{
	background-color: #F94033;
	width: 150px;
	height: 40px;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	color:white;
	box-sizing: border-box;
	border-radius: 50px;
}
.parrafo_formulario,label{
	font-size: 16px;
	font-weight: bold;
}
select, select option, input[type=date]{
	background-color: #C1E1DC;
	color:blue;
	width: 50%;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 20px;
}
.img-agradecimiento {
    margin: 10px;
    height: auto;
    padding: 15px;
    width: auto;
    position: relative;
}
